@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

:root {
    min-width: 280px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    // background-color: #18181e;
    background-color: #000;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.break {
    width: 80%;
    margin: auto;
    border-color: #dec79b99;
}

.nav {
    nav {
        // background-color: #18181e;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        padding-block: 1.7rem;
        padding-inline: 1.5rem;
        font-size: 1.3rem;
        color: #dec79b;
        text-decoration: none;

        :hover {
            color: #dec79bcc;
        }
    }
}

.block-1 {
    // background-color: #18181e;
    background-color: #000;
    position: relative;

    .heading {
        width: max(280px, 45%);
        background-color: #dec79b;
        position: absolute;
        top: 50%;
        translate: 0 -50%;

        h1 {
            padding-block: 2rem;
            padding-inline: 3rem 5rem;
            color: #18181e;
            font-size: clamp(1.5rem, 10vw, 3.5rem);
            text-align: left;
        }

    }

    .image {
        width: max(280px, 70%);
        height: 40rem;
        margin-inline-start: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.block {
    margin-block: 9rem;
    padding-inline: 3rem;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.3rem;

    .paragraph-one {
        flex: 1 0 250px;
    }

    .paragraph-two {
        flex: 1 0 250px;
    }

    h3 {
        margin-block-end: .7rem;
        font-size: 1.5rem;
    }

    p {
        font-size: 1.15rem;
    }
}

.block-btn-img {
    button {
        margin-block: 1rem;
        padding: .5rem 1rem;
        color: #000;
        font-size: .9rem;
        font-family: inherit;
        background-color: #dec79b;
        border: none;
        cursor: pointer;
        transition: background .5s;

        &:hover {
            background-color: #dec79bbb;
        }
    }

    .image {
        height: 30rem;
        background-color: #dec79bee;
        flex: 1 0 250px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0% 75%;
        }
    }
}

.block-3 {
    $top : 2rem;
    $right: 1rem;

    .image {
        border-top: $top solid #000;
        border-right: $right solid #000;
        // border-top: $top solid #18181e;
        // border-right: $right solid #18181e;

        div {
            width: 95%;
            height: 90%;

            img {
                position: relative;
                top: -$top;
                right: -$right;
            }
        }
    }
}

.block-4 {
    $top : 2rem;
    $right: 1rem;

    flex-wrap: wrap-reverse;

    .image {
        border-top: $top solid #000;
        border-right: $right solid #000;
        // border-top: $top solid #18181e;
        // border-right: $right solid #18181e;

        div {
            margin-inline-start: auto;
            width: 90%;
            height: 85%;

            img {
                position: relative;
                top: -$top;
                right: -$right;
            }
        }
    }
}

.block-5 {
    $top : 1.3rem;
    $left: 3rem;

    margin-block-end: 9rem;

    .image {
        border-top: $top solid #000;
        border-left: $left solid #000;
        // border-top: $top solid #18181e;
        // border-left: $left solid #18181e;

        div {
            width: 90%;
            height: 95%;

            img {
                position: relative;
                top: -$top;
                left: -$left;
            }
        }
    }
}

.block-6 {
    margin-block: 9rem;
    padding-inline: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.7rem;
    row-gap: 3rem;

    section {
        flex: 1 0 140px;

        svg {
            width: 3.3rem;
            height: 3.3rem;
            margin-block-end: .5rem;
        }

        h3 {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.block-7 {
    margin-block: 9rem;
    padding-inline: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;

    p {
        z-index: 2;
        cursor: pointer;

        svg {
            width: 3rem;
            height: 3rem;
            display: block;
        }
    }

    @media (max-width:600px) {

        .previous,
        .next {
            position: absolute;
            bottom: -5rem;
        }

        .previous {
            left: 30%;
        }

        .next {
            right: 30%;
        }
    }

    .all-images__wrapper {
        padding-inline: 1rem;

        .all-images {
            display: flex;
            gap: 3rem;
            overflow: hidden;

            div {
                flex: 1 0 min(70vw, 250px);
                aspect-ratio: 2/3;
                position: relative;
                transition-property: transform, background;
                transition-duration: 1s;
                transform-origin: 0 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            div::after {
                content: '';
                width: 100%;
                height: 100%;
                background-color: #0000;
                position: absolute;
                left: 0;
                top: 0;
                transition: background .5s;
            }

            div[class='faint']::after {
                background-color: #000c;
            }
        }
    }
}

.block-8 {
    margin-block-start: 8rem;
    color: #000;
    text-align: left;
    // background-color: #18181e;
    background-color: #000;
    position: relative;

    .contact {
        width: max(280px, 50%);
        padding-block: 3rem;
        padding-inline: 2rem;
        background-color: #dec79b;
        position: absolute;
        top: 50%;
        right: 0;
        translate: 0 -50%;

        h3 {
            margin-block-end: 1.2rem;
            font-size: 2rem;
        }

        p {
            color: #18181e;
            margin-block-end: 1.2rem;
            font-size: 1.1rem;
        }

        span {
            font-weight: 700;
            font-size: 1.15rem;
            display: block;
        }

    }

    .image {
        width: max(280px, 70%);
        height: 50rem;
        margin-inline-end: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

footer {
    color: #dec79b;
    font-size: 1.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;

    a {
        color: inherit;

        &:hover {
            text-decoration-style: dotted;
        }
    }
}